<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>文章详情</title>
    <link th:href="@{/css/message.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="messagetitle" th:text="${article.messagetitle}"></div>
            <div class="messagedate" th:text="${article.date}"></div>
            <div class="messagecontent" th:text="${article.messagedetail}"></div>
            <div class="comment">
                <table class="commenttable">
                    <label><h3>文章评论</h3></label><br/><br/>
                    <tr th:each="ct,ctstatus:${comment}">
                        <td th:text="${ct.getUser().username}+' : '"></td>
                        <td style="height: 30px" th:text="${ct.commentContent}"></td>
                        <td><a th:href="@{/articleController/deleteComment(commentId=${ct.id})}">删除</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>