<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>权限修改</title>
    <link th:href="@{/css/message.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="panel panel-success">
    <form class="form-inline" th:action="@{/powerController/addPower}">
        <div class="form-group">
            <label for="exampleInputName2">请输入自定义权限</label>
            <input type="text" class="form-control" id="exampleInputName2" name="powername" placeholder="权限名"/>
        </div>
        <button type="submit" class="btn btn-info">确认新添</button>
    </form>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">已添加的用户权限</div>
    <!--<div class="panel-body">
        <h3>仅限管理员对权限进行浏览、删除操作</h3>
    </div>-->
    <!-- List group -->
    <ul class="list-group" th:each="power:${power}">
        <li class="list-group-item">
            <t th:text="${power['powername']}"></t>&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{/powerController/deleteOne(id=${power['id']})}">删除该权限</a>
        </li>
    </ul>
</div>
</body>
</html>